#buttonButton, #generateButton {
    margin-top: 20px;
}

#buttonButton {
    margin-right: 20px;
    background-color: rgb(245, 211, 60);
    border: none;
}

#generateButton {
    background-color: rgb(114, 196, 171);
    border: none;
}

#success {
    max-width: 60%;
    margin: 0 auto;
}